<!DOCTYPE html>
<html>

<head>
    <title class="title">Librarius</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="manifest" href="/js/pwa.webmanifest">
    <link rel="apple-touch-icon" href="/images/apple-touch.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#764ABC" />
</head>

<body>
    <h1 class="title">{{title}}</h1>
    <p>Welcome to {{title}}</p>

    <ul>
        <button class="new-post-link" href="/">Log in</button>
        <button class="new-post-link" href="/">Register</button>
    </ul>

</body>

</html>