<!DOCTYPE html>
<html>

<head>
    <title class="title">Librarius</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    {{{body}}}
</body>
<div class="navbar">
    <a class="new-post-link" href="/books/">Library</a>
    <a class="new-post-link" href="/search/new">Search</a>
    <a class="new-post-link" href="/wishlist/">Wishlist</a>
    <a class="new-post-link" href="/">Account</a>
</div>

</html>