<!DOCTYPE html>
<html>

<head>
    <title class="title">Librarius</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="manifest" href="/js/pwa.webmanifest">
    <link rel="apple-touch-icon" href="/images/apple-touch.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#764ABC" />
</head>

<body>
    {{{body}}}
    <script src="/js/pwa.js"></script>
    <script src="/js/status.js"></script>
</body>

<div class="navbar">
    <a class="new-post-link" href="/books/">Library</a>
    <a class="new-post-link" href="/search/new">Search</a>
    <a class="new-post-link" href="/wishlist/">Wishlist</a>
    <a class="new-post-link" href="/">Account</a>
</div>

</html>