<h1 class="title">Result</h1>

<ul class="result">
  {{#each result}}
  <p>Book Title </p>
  <p>Author</p>
  <p>Description</p>
  <p>ISBN: {{this.isbn}}</p>
  {{/each}}
</ul>

<ul>
  <button class="new-post-link" href="/">Add to Library</button>
  <button class="new-post-link" href="/">Borrow book</button>
</ul>



Not the right book?
<button class="new-post-link" href="/">Enter manually</button>