<h1 class="title">Search</h1>

<form id="isbn-search-form" action="/search/result" method="post">
  <input id="isbn" type="text" name="isbn" placeholder="ISBN" value="">
  <input type="submit" value="Search">
</form>

<p>Or scan barcode...</p>

<button class="camera-scan" href="/">Scan</button>